@font-face {
    font-family: "norsebold";
    src: url("fonts/norse-bold-webfont.woff2") format("woff2"),
        url("fonts/norse-bold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    background-color: #eee;
    overflow: visible;
}

#background {
    width: 40vw;
    height: 100vh;
    opacity: 0.7;
    filter: blur(2px);
    position: sticky;
    left: 0;
    top: 0;
}
#logo {
    font-family: norsebold;
    font-size: 2.5rem;
    font-weight: 600;
    width: 40vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;

    span {
        text-shadow: 1px 1px 3px white;
    }
    img {
        width: 100px;
        height: 100px;
    }
}

form {
    flex: auto;
    padding-top: 15vh;
    padding-bottom: 15vh;
    font-family: "Courier New", Courier, monospace;
}
form h2 {
    margin-left: 40px;
}
#inputsField {
    background-color: white;
    border: 0px;
    padding: 0px;
    padding-bottom: 20px;
    font-size: 0.65rem;
    font-weight: 600;
}
#inputsField legend {
    position: relative;
    top: 30px;
    font-weight: 500;
    font-size: 1.3rem;
    padding: 30px 30px 30px 0;
    margin-left: 40px;
    margin-bottom: 20px;
}

#inputsField .twoInputs {
    margin-left: 40px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 60px;
    color: #6b6b6b;

    .inputDiv {
        /* child of twoInputs class that is of class inputDiv*/
        display: flex;
        flex-flow: column wrap;
    }

    input {
        /* style the input inside the twoInputs div*/
        border: 1px solid #e5e7eb;
        padding: 2px;
        border-radius: 3px;
    }
    input:invalid:focus {
        border: 1px solid red;
    }
}

input[type="submit"] {
    border: none;
    background-color: #3a67c5;
    padding: 12px 40px;
    border-radius: 10px;
    font-weight: 600;
    margin-left: 40px;
    margin-top: 30px;
    color: white;
}

#logIn {
    margin-left: 40px;
    margin-top: 20px;
    font-size: 0.8rem;
    a {
        text-decoration: none;
        color: green;
        font-weight: 1000;
    }
}
@media only screen and (max-width: 800px) {
    #background {
        width: 8rem;
        height: 100vh;
    }
    #logo {
        width: 8rem;
        height: 100vh;

        span {
            display: none;
        }
    }
    #inputsField legend {
        margin-left: 200px;
    }
    #inputsField .twoInputs {
        display: flex;
        flex-flow: column wrap;
        gap: 0px;
        justify-content: center;
        align-items: center;
        margin: 0;
        font-size: 1.2rem;
        width: 100%;
        /* it didnt work at first cuz specifity, i thought in @media it didn't matter and it would have gotten handled anyway*/
        .inputDiv {
            width: 50%;
            margin-bottom: 15px;
            align-items: center;
            justify-content: center;
            input {
                padding: 5px 10px;
            }
        }
    }
    input[type=submit] {
        margin-left: 27vw;
    }
}
