@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 3fr;    
    height: 100vh;
    width: 100vw;
    margin: 0;
    font-family: "Roboto";
    overflow:visible;
}

.sidebar {
    background-color: #84cc16;
    grid-row: 1 / -1;
    font-weight: 1000;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr 1.2fr;
    row-gap: 3.5%;

    .userLinks, .importantLinks { 
        margin-left: 20px;
        display: flex;
        flex-flow: column wrap;
        gap: 8px;
    }

    .sidebarItem { /* center the text to the image and distance them*/
        display: flex;
        align-items: center;
        gap: 20px;
    }

    #siteLogo { /* */
        display: flex;
        align-items: center;
        margin-left: 10px;
        margin-top: 10px;
        img {
            height: 50px;
        }
    }
}

img {
    height: 25px; /* all images beside the logo ones or profile ones*/
}



.header {
    background-color: #ecfccb;
}

.main-content {
    background-color: #d9f99d;
}
