@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 3fr;
    height: 100vh;
    width: 100vw;
    margin: 0;
    font-family: "Roboto";
    overflow: visible;
}

img {
    height: 25px; /* all images beside the logo ones or profile ones*/
}

.sidebar {
    background-color: #84cc16;
    grid-row: 1 / -1;
    font-weight: 1000;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 200px; 
    row-gap: 3.5%;

    .userLinks, 
    .importantLinks {
        margin-left: 20px;
        display: flex;
        flex-flow: column wrap;
        gap: 8px;
    }

    .sidebarItem {
        /* center the text to the image and distance them*/
        display: flex;
        align-items: center;
        gap: 20px;
    }

    #siteLogo {
        /* */
        display: flex;
        align-items: center;
        margin-left: 10px;
        margin-top: 10px;
        img {
            height: 50px;
        }
    }
}

.header {
    background-color: #ecfccb;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr 1.3fr;
    padding: 20px;
    gap: 20px;
    font-weight: 1000;

    .search,
    .userInfo,
    .userHello,
    .userActions {
        display: flex;
        align-items: center;
    }

    .search,
    .userHello {
        margin-left: 25px;
        gap: 10px;
    }

    .search input {
        border: 0;
        background-color: rgb(218, 224, 187);
        border-radius: 12px;
        height: 60%;
        width: 80%;
    }

    .userInfo {
        justify-content: center;
        gap: 20px;

        img[src="images/luffy.jpg"] {
            height: 40px;
        }
    }

    .userHello {
        gap: 20px;

        div {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 5px;

            #helloText {
                font-size: 0.7rem;
                margin: 0;
                align-self: end;
            }

            #helloUsername {
                font-size: 1.2rem;
                align-self: start;
                margin: 0;
            }
        }

        img {
            height: 50px;
        }
    }

    .userActions {
        justify-content: center;
        gap: 30px;

        button {
            border: 0;
            margin: 0;
            padding: 10px 30px;
            border-radius: 20px;
            background-color: #84cc16;
            font-weight: 1000;
            color: rgba(7, 71, 29, 0.647);
        }
    }
}

.main-content {
    background-color: #d9f99d;
    padding: 25px;
    gap: 25px;
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    grid-template-rows: 1fr 1fr;
    * {
        border-radius: 10px;
    }

    > * > p {
        font-weight: 1000;
    }
    .projects {
        grid-row: 1 / -1;
    }
    .projectGrid {

        display: grid; /* the projects div is itself a grid for the projects*/
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
        /* the row height for the "Your projects" text
        so only one row defined*/

        gap: 20px;

        .project {
            box-shadow: 3px 3px 5px #84cc16;
            background-color: #ecfccb;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 4fr 1fr;

            .projectText {
                padding: 20px;
            }
        }

        .project .projectActions {
            justify-self: end;
            display: flex;
            padding: 10px;
            gap: 20px;
            * {
                flex: 0 1 auto;
            }
        }
    }

    .announcementGrid {
        box-shadow: 3px 3px 5px #84cc16;
        display: grid;
        height: 80%;
        background-color: #ecfccb;
        padding: 20px;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 10px;
        border: 1px solid #84cc16;

        .announcement {
            padding-bottom: 10px;
            border-bottom: 1px solid rgba(179, 177, 177, 0.5);

            .annHeader {
                font-weight: bold;
            }
            .annText {
                font-size: 0.8rem;
            }
        }
    }
    .trending {
        display: grid;
    }
    .trendingGrid {
        box-shadow: 3px 3px 5px #84cc16;
        display: grid;
        background-color: #ecfccb;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 20px;
        border: 1px solid #84cc16;
        padding: 20px;

        .trendingSubject {
            display: grid;
            grid-template-columns: 1fr 3fr;
            align-items: center;
            padding-left: 20px;
            padding-right: 30px;
            gap: 20px;

            img {
                height: 50px;
            }

            div {
                display: grid;
                grid-template-rows: 1fr 1fr;
                height: 50px;
                p {
                    margin: 0;
                }
            }
        }
    }
}
